.row.content {
    height: 550px;
    
}
    
.height{
    height: 100%;
}

.sidenav {
    background-color: #607d8b;
    height: 250%;
    margin-bottom: 0px;
}
        
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
        } 
}


/*------menu-----*/

/*color font*/
.nav-pills>li>a{
    color: #FFF;

}
.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #009688 !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.menuhref{
    padding-left: 0px !important;
    
    ;
}

.menu{
    position: fixed;
}

/*------end menu-----*/

.btn-danger{
    width: 100px;
}

.buttonsubmit{
    margin-top: 8px;
}


.widthcol9{
    width: 83.3% !important;
    background: #009688 !important;
    margin-top: -13px !important;
}

/*Input Search*/
.textsize{
    font-size: 20 !important;
    border-radius: 20px !important;
}

.container{
    margin-left: 125px ;
}